@import "components/header";
@import "components/formularios";
@import "components/icono";
@import "components/store";
@import "components/contacto";

body{
    background-color:rgb(247, 238, 225);
}

.image-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    }

.empresa{
    padding-top: 4rem;
    
        div{
            div{
                .logo-chico{
                    width: 20rem;
                    border-radius: 10%;
                }
            }
            div{
                p{
                    text-size-adjust: 3rem;
                    text-align: justify;
                    text-decoration: double;
                }
            }
        }
    
}

footer{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul{
        li{
            list-style-type: none;
            a{
                img{
                   width: 1cm;
                }
            }
        }
    
    }
}

    .firma{
        display: block;
        padding-top: 3rem;
        text-align: center;
        color: brown;
    }


#tablita{
    text-align: center;
    background-color: rgb(255, 255, 255);
    table-layout: auto;
    th{
        border: 1px, solid;
        padding: 1rem;
    }
    tr{
        td{
            border: 2px,solid;
            padding: 1rem;
        }
        
    }
}   

h1{
    text-align: center;
    color: rgb(165, 67, 42);
    padding-top: 3rem;
}

h2{
    text-align: center;
    color: rgb(165, 67, 42);
    padding-top: 3rem;
    
}
