#formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
        input{
            display: block;
            width: 20%;
        }
        label{
            display: block;
            width: auto;
            padding-top: 2rem;
        }
        div{
            display: block;       
        }
        #calcular{
            display: block;
            width: auto;
            background-color: adjust-hue($color: #e64d06bb, $degrees: 0);
            border-radius: 10%;
            color: rgb(97, 63, 0);
        }
        P{
            padding-top: 2rem;
        }


}
#tablita{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    table-layout: auto;
th{
    border: 1px, solid;
    padding: 1rem;
}
tr{
    td{
        border: 2px,solid;
        padding: 1rem;
    }
}

    
}