@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap";


.card{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s ;
    
}
.card:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2) ;
}



.cart-btn{
	text-decoration: none;
	display: flex;
    justify-content: flex-end;
}
#cart {
    position: relative;
    font-size: 2rem;
	color: rgb(165, 91, 42);
    cursor: pointer;
    margin: 1em 4em 0 0;
  }
  
.cart-quantity {
    color: white;
    background-color: red;
    padding: .2em .3em;
    position: absolute;
    margin: .8em 7.5em 0 0;
    right: 0;
    border: solid 2px red;
    border-radius: 15px;
    font-weight: bolder;
}